.wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d3e40;
  padding: 0px 10px;
}

.title{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 24px;
  margin-top: -5px;
}

.second {
  margin-top: -15px;
  margin-left: 14px;
  font-weight: bold;
}

.login-register {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
}

.loginBtn {
  margin-right: 15px;
}

.loginBtn, .registerBtn {
  padding: 3px 10px;
  border-radius: 5px;
  color: #2d3e40;
  background-color: #b8e0d2;
  cursor: pointer;
  user-select: none;
  border: 2px solid #b8e0d2;
  transition: all 0.3s ease;
}

.loginBtn:hover, .registerBtn:hover {
  color: #b8e0d2;
  background-color: #2d3e40;
  transition: all 0.3s ease;
}
